[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "uroscores"]
	path = uroscores
	url = https://github.com/faizamirullah/uroscores
